body {
}

.contents-page {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto; /* Căn giữa theo chiều ngang */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    padding: 0 15px; /* Khoảng cách lề bên trong phần tử */
}

body {
    padding: 5px;
}
