
@{
    ViewData["Title"] = "BookingSeat";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<link href="~/css/booking.css" rel="stylesheet" />
<div class="content-item">
    <div class="item-left">
        <h3><span class="span_number">1</span><span></span><span>CHỌN VỊ TRÍ</span></h3>
        <div class="content-select-ticket" style="margin">
            <div id="divLegend" align="center">
                <div class="Legend-item">
                    <span>
                        <img src="~/images/seat/seat_ischosen.png">
                        &nbsp;
                        <span class="Legend">Ghế của bạn</span>
                    </span>
                    <span>
                        <img src="~/images/seat/seat_empty.png">
                        &nbsp;
                        <span class="Legend">Ghế Trống</span>
                    </span>
                    <span>
                        <img src="~/images/seat/seat_booked.png">
                        &nbsp;
                        <span class="Legend">Đã Đặt</span>
                    </span>
                </div>
                <div class="Seating-Screen">
                    <img src="~/images/seat/SeatScreen.png" style="width: 100%">
                </div>
                <div class="Seats">
                    <table>
                        @for (int row = 1; row <= 5; row++)
                        {
                            <tr>
                                @for (char col = 'A'; col <= 'H'; col++)
                                {
                                    <td>
                                        <p class="seat" data-seat-id="'@($" PC8{col}{row}")'"
                                           onclick="returnSeatValue('@($" PC8{col}{row}")')" style="cursor: pointer;">
                                            <span class="seat-text">@($"{col}{row}")</span>
                                            <img class="seat-pic" src="~/images/seat/seat_empty.png" alt="Seat @($" PC8{col}{row}")" style="display: block; margin: 0 auto;" />
                                        </p>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <h3><span class="span_number">2</span><span>CHỌN ĐỒ ĂN &amp; THỨC UỐNG</span><span style="font-size: 20px;"> (tùy chọn)</span></h3>
        <div class="combo-select">
            <div class="combo-box">
                <div class="combo">
                    <img src="https://cms.megagscinemas.vn//media/76090/popcorn-caramel-40oz.png" alt="">
                    <div class="combo-info">
                        <h4>Combo Name</h4>
                        <div class="combo-number">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> 
    <div class="item-right">
        <div class="section-item">
            <div class="box-ticket-info">
                <h3>Movie Name</h3>
                <p>Theatre name </p>
                <p>Date time</p>
                <p>Room name</p>
                <p>seatid</p>
                <div class="box-tickets">
                    <h5>Loại vé:</h5>
                    <table class="table-box-1">
                        <tbody><tr><td class="td-first">IT - Adult Standard</td><td class="td-second align-right">1 x 65,000 VND</td></tr><tr id="seatrow1"><td class="yseat" colspan="2">(A1)</td></tr></tbody>
                    </table>
                    <h3 class="select-drink">CHỌN ĐỒ ĂN &amp; THỨC UỐNG</h3>
                    <table class="table-box-2">

                        <tbody>
                            <tr class="tr_second align-right">
                                <td colspan="2"><span class="total-text-">Tổng giá tiền</span></td>
                            </tr>
                            <tr class="align-right">
                                <td colspan="2"><span class="total-numb">65,000</span><span style="font-size: 24px; font-weight: bold;">VNĐ</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-info-pay">
                <div class="head-title">
                    <h3>THÔNG TIN THANH TOÁN</h3>
                    <span class="span_number">3</span>
                </div>
                <div class="box-input">
                    <div class="show-error err">
                        <span></span>
                    </div>
                    <input name="ctl00$ContentPlaceHolder1$txtCardName" type="text" id="txtCardName" class="infor-name" placeholder="Họ và Tên">

                    <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" id="txtEmail" class="infor-name" placeholder="Email">

                    <input type="text" id="txtCustPhone" class="infor-phone" placeholder="Số điện thoại">
                </div>
            </div>
            @* <div class="box-method-pay">
                <div class="head-title">
                    <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                    <span class="span_number">4</span>
                </div>
                <div class="show-error-tt err">
                    <span></span>
                </div>
                <div class="box-card">
                    <ul>
                        <li>
                            <input type="radio" name="card-group" id="check_01" value="Credit Card">
                            <label for="check_01"><span></span><b>Thẻ Tín Dụng (Credit / Debit Card / Apple Pay)</b></label>
                            <div class="booking-debit-card">
                                <img src="Images/home/booking-debit-card.png" alt="">
                            </div>
                        </li>
                        <li>
                            <input type="radio" name="card-group" id="check_02" value="ATM">
                            <label for="check_02"><span></span><b>Thẻ Nội Địa (ATM Card)</b></label>
                            <div class="booking-atm-card">
                                <img src="Images/home/booking-atm-card.png" alt="">
                            </div>
                        </li>
                        <li>
                            <input type="radio" name="card-group" id="check_momo" value="MM">
                            <label for="check_momo"><span></span><b>MoMo</b></label>

                        </li>
                        <li>
                            <input type="radio" name="card-group" id="check_zalopay" value="ZP">
                            <label for="check_zalopay"><span></span><b>Ví ZaloPay</b></label>

                        </li>
                        <li>
                            <input type="radio" name="card-group" id="check_vnpay" value="VNP">
                            <label for="check_vnpay"><span></span><b>VNPay</b></label>

                        </li>
                    </ul>
                    <div class="check-agree">
                        <input id="chkTerms" type="checkbox" name="ctl00$ContentPlaceHolder1$chkTerms">
                        <label for="chkTerms">
                            <span></span>
                            <b>Tôi đã đọc và đồng ý với <a href="/chinh-sach-thanh-toan-ve-truc-tuyen/" target="_blank">Chính sách thanh toán vé trực tuyến</a></b>

                        </label>
                        <div style="color:#fb0202">
                            <p>Vé đã mua không thể đổi hoặc hoàn tiền.</p>
                            <p>Mã vé sẽ được gửi qua tin nhắn SMS và Email đã nhập.</p>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="box-pay">
                <span>
                    <span class="img-loading" style="position: absolute; top: 45%">
                        <img src="~/images//loading.gif" style="width: 25px" alt="loading" />
                    </span>
                    <input type="button" value="Thanh Toán" />
                </span>
            </div>
        </div>
    </div>
</div>


<script>
    function returnSeatValue(seatId) {
        // You can use this function to return the seat value or perform any other action
        alert(seatId); // For demonstration, it just shows an alert with the seat ID
    }
</script>

<script src="~/js/booking.js"></script>