@model IEnumerable<WebCinema.Models.Showtime>

@if (Model != null && Model.Any())
{
    foreach (var showtime in Model)
    {
        <div class="showtime-item">
            <form asp-action="SelectShowtime" method="post">
                <input type="hidden" name="movieId" value="@showtime.MovieId" />
                <input type="hidden" name="showtimeId" value="@showtime.ShowId" />
                <button type="submit">@showtime.Screentime.ScreenTime</button>
            </form>
        </div>
    }
}
else
{
    <p>No showtimes available for the selected date.</p>
}
